<!--(set_escape)-->
    html
<!--(end)-->
<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- this is a stub, allowing anythin'... -->

  <xsd:element name="database">
    <xsd:complexType>
      <xsd:element name="what" type="xsd:string" />
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
